USE [ChatAppDb]
GO
/****** Object:  Table [dbo].[ChatMessage]    Script Date: 3/25/2024 20:47:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatMessage](
	[MsgId] [varchar](100) NOT NULL,
	[MsgType] [int] NULL,
	[SendTime] [datetime] NULL,
	[Data] [nvarchar](255) NULL,
	[SenderId] [nvarchar](100) NULL,
	[ReceiverId] [nvarchar](100) NULL,
 CONSTRAINT [PK_ChatMessage] PRIMARY KEY CLUSTERED 
(
	[MsgId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Receiver]    Script Date: 3/25/2024 20:47:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Receiver](
	[ReceiverId] [nvarchar](100) NOT NULL,
	[ReceiverName] [nvarchar](200) NULL,
	[Email] [nvarchar](200) NULL,
	[AvatarUrl] [nvarchar](200) NULL,
 CONSTRAINT [PK_Receiver] PRIMARY KEY CLUSTERED 
(
	[ReceiverId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 3/25/2024 20:47:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserId] [nvarchar](100) NOT NULL,
	[FullName] [nvarchar](200) NULL,
	[Email] [nvarchar](200) NULL,
	[Password] [nvarchar](50) NULL,
	[AvatarUrl] [nvarchar](250) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ChatMessage] ([MsgId], [MsgType], [SendTime], [Data], [SenderId], [ReceiverId]) VALUES (N'011b53e3-993a-4066-a6d4-0b568ce9a00e', 1, CAST(N'2024-03-16T03:35:30.297' AS DateTime), N'smile', N'000000', N'RC002')
INSERT [dbo].[ChatMessage] ([MsgId], [MsgType], [SendTime], [Data], [SenderId], [ReceiverId]) VALUES (N'05766950-478a-45a6-a262-04b27ce24aa8', 1, CAST(N'2024-03-17T13:51:32.167' AS DateTime), N'think', N'000000', N'RC001')
INSERT [dbo].[ChatMessage] ([MsgId], [MsgType], [SendTime], [Data], [SenderId], [ReceiverId]) VALUES (N'0f6e7ae7-d7fd-4cff-a876-e3f087aa3b85', 1, CAST(N'2024-03-16T03:25:40.677' AS DateTime), N'smile', N'000000', N'RC002')
GO
INSERT [dbo].[Receiver] ([ReceiverId], [ReceiverName], [Email], [AvatarUrl]) VALUES (N'RC001', N'Tuấn Trần', N'tuantran@gmail.com', N'1.jpg')
INSERT [dbo].[Receiver] ([ReceiverId], [ReceiverName], [Email], [AvatarUrl]) VALUES (N'RC002', N'Hoàng Giang', N'hoanggiang@gmail.com', N'2.jpg')
INSERT [dbo].[Receiver] ([ReceiverId], [ReceiverName], [Email], [AvatarUrl]) VALUES (N'RC003', N'Trung Quân', N'trungquan@gmail.com', N'3.jpg')
GO
INSERT [dbo].[User] ([UserId], [FullName], [Email], [Password], [AvatarUrl]) VALUES (N'000000', N'John', N'john@gmail.com', N'123', N'4.jpg')
INSERT [dbo].[User] ([UserId], [FullName], [Email], [Password], [AvatarUrl]) VALUES (N'1ea2f400-809b-449d-8828-6ef5fcd23997', N'Cào Cào', N'cao@gmail.com', N'123', N'2819a4f2-42c3-4bec-845d-19d57e676192.jpg')
INSERT [dbo].[User] ([UserId], [FullName], [Email], [Password], [AvatarUrl]) VALUES (N'5c9a3c15-a805-49cb-b5ae-e1e03b1df8b2', N'John', N'john1@gmail.com', N'123', N'4.jpg')
GO
